@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  /* Typography */
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;

  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;

  /* colors */
  --black100: hsl(200, 15%, 8%);

  --white100: hsl(0, 0%, 100%);
  --white98: hsl(0, 0%, 98%);

  --button-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --header-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--family);
  font-size: 10px;
  color: var(--black100);
  font-weight: var(--fw-light);
  background-color: var(--white98);
}
